
<br />
<br />
<br />

<h1 class="text-center">Thank you!</h1>
<p class="text-center">Thank you for ordering pizza with PizzApp and using our application!</p>
<br />
<div class="text-center">
    @Html.ActionLink("Order another pizza", "Create", "Order", null, new { @class = "btn btn-primary" })
</div>
